*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 0, 0);
    color: rgb(3 0 177);
    color: linear-gradient(90deg, rgba(1,0,48,1) 0%, rgba(0,18,103,1) 100%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%);

}
.clock{
    display:flex;
    height: 100vh;
    font-family: 'Audiowide', cursive;
    font-size: 14px;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-flow: column;
 }
 .first-half{
     display: inherit;
     flex-flow: row;
 }

 .sec {
     width: 25px;
    animation: blinker 1s ease infinite;
  }
  
  @keyframes blinker {
    0% {
      opacity: 1;
    }
    20%{
        opacity: 0.3;
    }
    40%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    90%{
        opacity: .7;
    }
    100%
    {
        opacity: 1;
    }
  }